//Colors

// Font
$font-light: #fff;
$font-dark: #000;
$font-grey: #a2a2a2;

// Background
$background-light: #fff;
$background-grey-light: #fafafa;

// Border
$border-grey: #dbdbdb;
$border-dark: #000;

// Event
$primary: #0095f6;
$danger: #ed4956;
